@tailwind base;
@tailwind components;
@tailwind utilities;

.green-spinner {
  color: #005734;
}
input[type="checkbox"] {
  cursor: pointer;
}
body {
  padding: 0;
  overflow: scroll;
}
body::-webkit-scrollbar {
  width: 0;
}

.table-body {
  padding: 0;
  overflow: scroll;
}
.table-body::-webkit-scrollbar {
  width: 0;
}

input[type="checkbox"]:after {
  content: " ";
  background-color: #7cab98;
  display: inline-block;
  visibility: visible;
}

input[type="checkbox"]:checked:after {
  content: "\2714";
  width: 20px;
  height: 20px;
  text-align: center;
  padding-bottom: 2px;
  font-size: medium;
  color: white;
  border-radius: 10%;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
