.custom-scrollbar {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius: 5rem;
}

/* Appropriate import for the CSS file if you're using external CSS */
/* import './styles.css'; */

.icon {
  width: 24px;
  height: 24px;
}

.icon::before {
  content: "🌞"; /* Sun icon for light mode */
}

.icon.dark::before {
  content: "🌙"; /* Moon icon for dark mode */
}
